<h1>Super Simple Selenium Demo</h1>

<br />

<form action="hello_world/say_hello_to" method="post" accept-charset="utf-8">
  
  <fieldset id="please_enter_your_name" class="fieldset_cls">
    <legend>Please Enter your name</legend>

    <p>
      <label for="name">Name:&nbsp;</label>
      <input type="text" name="name" value="" id="name">
    </p>
    
  </fieldset>

  <p>
    <input type="submit" value="Say &rarr;">
  </p>
</form>