<h1>Impressum</h1>
		<address>
		<strong>Postanschrift</strong><br />
		FH Gummersbach<br/>
		Am Sandberg 1<br/>
		51643 Gummersbach
		</address>
		<address>
		<strong>eMail:</strong><%= mail_to "dirk.breuer@gmail.com", "Dirk Breuer", :encode => 'javascript' %><br />
		<strong>Telefon:</strong> +49 (179) 90 40 386
</address>

  <div id="css_copyright_info">
    <p>Dieses Layout basiert auf <a href="http://www.yaml.de/">YAML</a> &copy; 2005-2006 by <a href="http://www.highresolution.info">Dirk Jesse</a></p>
    <img src="/images/cc_logo.png" width="88" height="31" alt="Some rights reserved" /><br />
  </div>
